<ion-view hide-nav-bar="true">
  <ion-content id="imagebg" has-header="true" padding="true" scroll="false">

    <!-- align to the bottom of the page -->
    <div style="position: absolute; bottom: 5px; width: 100%">
      <div style="text-align: center">
        <button class="button-rounded fb" ng-click="loginWithFacebook()">
          LOGIN WITH FACEBOOK
        </button>
        <br>
        <button class="button-rounded email" ng-click="loginWithEmail()">
          LOGIN WITH EMAIL
        </button>
        <br>
        <h6 style>By continuing you accept our <br>
          Privacy Policy and Terms of Service.</h6>
      </div>
    </div>
  </ion-content>
</ion-view>

