.scroll-content#imagebg{
  background: url("../img/outcrop.gif");
  background-size:cover;
}
h6 {
  font-size: 3.5vw;
  text-align: center;
}

.button-rounded {
  color: white;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  font-size: 4.2vw;
  margin: 4px 2px;
  border-radius: 25px;
}

.email {
  background-color: #f47b90;
  width: 80%;
}
.fb {
  background-color: #5c50b1;
  width: 80%;
}

.log-in {
  background-color: #f47b90;
  width: 100%;
}
.list{
  text-align: left;
}


